
/* font family  */

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(../public/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(../public/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(../public/fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(../public/fonts/Poppins/Poppins-Light.ttf) format('truetype');
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f27935; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ce6a30; 
}

html{

}

body {
  font-family: Poppins !important ;
}

a{
  text-decoration: none;
}
span{
  display: inline-block;
}

 /* start Carousel component  */
.carousel_component .swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  width: 100% !important;
  display: flex;
  position: relative;
  transition-property: transform;
  align-items: center;
  justify-content: center;
  padding-top: 4px;
}
.carousel_component .swiper-slide a{
  width: 100%;
  padding:2px 7px;
}
.carousel_component .swiper-slide img{
   width: 100%;
    border-radius: 8px;
}
.swiper-pagination-bullet{
  background-color: #f27935 !important;
}
 /* deal_of_the_day */

 .deal_of_the_day_component .swiper-slide a img{
  width: 100%;
  height: 68px;
  border-radius: 6px;
 }
 .deal_of_the_day_component .swiper-slide a {
  width: 100%;
 }

#about_the_deals p{
  font-size: 14px;
  margin-bottom: 10px;
}
#about_the_deals h5{
  font-size: 19px;
}
#about_the_deals h3{
  font-size: 17px;
    margin-bottom: 10px;
    font-weight: 300;
}
#about_the_deals ul{
  margin-left: 21px;
font-size: 14px;
margin-bottom: 10px;
}
#about_the_deals ol{
  margin-left: 21px;
font-size: 14px;
margin-bottom: 10px;
}
#about_the_deals ol li, #about_the_deals ul li {
  font-size: 14px;
  padding-bottom: 4px;
}
#about_the_deals ol{
 align-self: start;
}
#about_the_deals a{
    color: blue;
    cursor: pointer;
    font-size: 15px;
 }
 #about_the_deals a:hover{
  text-decoration: underline;
 }
 #about_the_deals img{
  width: 52% !important;
}
.search_page h5 a{
  float: right;
  color: #f27935;
  font-size: 14px;
  font-weight: 500;
}
#about_the_deals p iframe{
  width: 100% !important;
  height: 170px !important;
}
#about_the_deals table {
  border-collapse: collapse;
}
#about_the_deals table td,#about_the_deals table th{
  padding: 4px;
}

/* articels webkits  */
.MuiTabsList-root.MuiTabsList-horizontal.css-17ij0x9::-webkit-scrollbar {
  display: none;
}
.MuiTabsList-root.MuiTabsList-horizontal.css-17ij0x9{
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.articels_dynimic_bottom .share_Blog .social_icon span a{
  color:#3b5998;
}